// JUST FOR THE PAGE ABOUT
.collapse-about {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0 10% 0;
    overflow: hidden;
}

// COLLAPSE ITEM ITSELF
.collapse-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .collapse-title {
        background-color: #ff6060;
        color: white;
        border-radius: 5px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 15px;
        margin: 0;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
    }

    // WHEN COLLAPSE CONTENT IS SHOWN
    .collapsible-content {
        background-color: #f6f6f6;
        margin: 0;
        padding: 3%;
        transform-origin: top;
        height: auto;
        transition: all 0.15s ease-out
    }

    // WHEN COLLAPSE CONTENT IS HIDDEN
    .collapsed-content {
        padding: 0;
        margin: 0;
        height: 0;
        transform-origin: top;
        transform: scaleY(0);
        transition: all 0.15s ease-out
    }

}

// RESPONSIVE 

@media (max-width: 768px) {
    .collapse-about {
        margin: 0;
    }

    .collapse-item {
        .collapse-title {
            font-size: 1.2rem;
        }
    }


}