.carrousel {
    height: 420px;
    margin: 25px 0 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .arrow {
        position: absolute;
        filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.20));

        &-left {
            left: 10px;
        }

        &-right {
            right: 10px;
        }

        &:hover {
            cursor: pointer;
            filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.40));
        }
    }

    p {
        font-weight: 500;
        font-size: 18px;
        color: white;
        bottom: 2%;
        position: absolute;
        filter: drop-shadow(0px 0px 7px rgba(0, 0, 0, 0.60));
    }

    .slider-image {
        border-radius: inherit;
        height: inherit;
        width: 100%;
        object-fit: cover;
    }
}

@media (max-width: 1240px) {
    .carrousel {
        .arrow {
            height: 80px;
        }
    }
}

@media (max-width: 1024px) {
    .carrousel {
        .arrow {
            height: 60px;
        }
    }
}

@media (max-width: 768px) {
    .carrousel {
        height: 300px;

        .arrow {
            height: 40px;

            &-left {
                left: 5px;
            }

            &-right {
                right: 5px;
            }
        }

        p {
            display: none;
        }
    }
}